.insta-button {
  border-radius: 25px;
  width: 30rem;
  margin-bottom: 1rem;
  max-width: 90vw;
  font-size: 90%;
  white-space: normal;
}

.badge-notif {
  position: relative;
}

.badge-notif[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -1px;
  right: 3.5px;
  font-size: 0.7rem;
  background: #f50e0a;
  color: white;
  width: 6px;
  height: 6px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  border: solid 1px;
}

.insta-button-shake {
  border-radius: 25px;
  width: 30rem;
  margin-bottom: 1rem;
  max-width: 90vw;
  font-size: 90%;
  white-space: normal;

  animation: shake 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  1.25%,
  11.25% {
    transform: translate3d(-1px, 0, 0);
  }
  2.5%,
  10% {
    transform: translate3d(2px, 0, 0);
  }
  3.75%,
  6.25%,
  8.75% {
    transform: translate3d(-4px, 0, 0);
  }
  5%,
  7.5% {
    transform: translate3d(4px, 0, 0);
  }
}

#insta-text {
  margin-top: -1rem;
}

#insta-footer {
  font-size: 80%;
  color: rgb(22, 22, 22);
}
