@media (max-width: 1350px) {
  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

@media (max-width: 1120px) {
  .home.container {
    height: 100%;
    margin-top: 120px;
    margin-bottom: 3rem;
  }

  .home.container .row {
    flex-direction: row;
  }

  .home.container .col-1 {
    padding: 20px;
  }

  .row.hero .col-2 {
    width: 100%;
  }
  
  .row.hero .col-2 img {
    max-width: 100%;
  }
  
  .row.hero .col-2 img {
    margin-right:-3rem;
  }

  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left img {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .contact .container {
    padding: 10px;
    padding-bottom: 40px;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
  }

  .scroll-button {
    display: none;
  }

  /* Mobile Navbar */
  .badge-notif {
    position:relative;
  }
  
  .badge-notif[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 0;
    right: -13px;
    font-size: .7rem;
    background: #e53935;
    color: white;
    width: 7px;
    height: 7px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
  }
  
  .navbar.container {
    padding: 13px 0;
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    width: 100%;
    justify-content: center;
    background: var(--circle);
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  
  .nav-list .bx {
    font-size: 1.9rem;
    margin: 0px -12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    color: rgb(129, 127, 127);
  }

  .nav-list .bx:hover {
    color: #000;
  }

  .social-icons {
    display: none;
  }

  .nav-list i::before {
    display: flex;
  }

  .nav-list a {
    font-family: 'poppins';
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    justify-content: center;
  }

  .nav-name {
    display: none;
  }

  .logo {
    display: none;
  }

  .home.container {
    height: 100%;
    margin-top: 120px;
  }

  .home.container .row {
    flex-direction: column;
  }

  .home.container .col-1 {
    padding: 20px;
  }

  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }

  .grid-box {
    padding: 5px;
  }

  .portfolio .title .ctn-title {
    flex-direction: column;
    text-align: center;
  }

  .portfolio .title .ctn-title h1 {
    margin: 10px;
    text-align: center;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html{
    scroll-behavior:unset;
  }

  .about .left img {
    height: 310px;
    width: 200;
  }

  .about .right .topic {
    text-align: center;
  }

  .skills .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  }
}

@media (max-width: 800px) {
  .grid-box {
    width: 100%;
    justify-content: center;
  }
  
  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  }
}

@media (max-width: 640px) {
  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: .8rem;
  }

  .portfolio-card .box h3 {
    font-size: 13px;
    margin: 8px 0 8px;
  }
  
  .portfolio-card .box h2 {
    font-size: 14px;
    margin: 8px 0 8px;
  }

  .portfolio-card .box .btn {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .home-btn .ctn {
    font-size: 15px;
    padding: 8px 25px;
  }

  .home-btn .cta {
    font-size: 15px;
    padding: 8px 25px;
  }
  
  .home.container .col-1 {
    margin-top: -60px;
  }

  .about .right p {
    width: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }

  .about .right .button {
    text-align: center;
  }

  .skills .grid-box {
    margin: -20px 0 0;
  }

  .portfolio .ctn-title h1 {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .col-1 h1 {
    font-size: 30px;
  }

  .home-btn .ctn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .home-btn .cta {
    font-size: 14px;
    padding: 8px 12px;
  }
}

