@media (max-width: 1350px) {
  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}

@media (max-width: 1120px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left img {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
  }

  .about-details .right {
    width: 90%;
    margin: 20px 0;
  }

  .contact .container {
    padding: 10px;
    padding-bottom: 40px;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
  }

  .home.container {
    height: auto;
  }

  .home.container .row {
    flex-direction: column;
  }

  .home.container .col-1 {
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .col-1 h1 {
    font-size: 70px;
  }

  .col-1 h4 {
    text-align: center;
    justify-content: center;
  }

  .row.hero .col-2 img {
    margin-top: 2rem;
    width: 100%;
    margin-right: 0;
  }

  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {

  .about .left img {
    height: 310px;
    width: 200;
  }

  .about .right .topic {
    text-align: center;
  }

  .skills .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}

@media (max-width: 800px) {
  .grid-box {
    width: 100%;
  }
  
  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  }
}

@media (max-width: 640px) {
  .navbar .photo {
    display: none;
  }

  .home.container .col-1 h1 {
    font-size: 50px;
  }

  .home.container .col-1 h4 {
    font-size: 40px;
  }

  .home.container {
    margin-top: 0;
  }

  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 1.2rem;
  }

  .portfolio-card .box .btn {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  html {
    scroll-behavior: unset;
  }
  
  .nav-name {
    display: none;
  }
  
  .logo {
    display: none;
  }

  .scroll-button {
    display: none;
  }

  /*===== Mobile Navbar =====*/
  .list .badge-notif {
    position: relative;
  }
  
  .list .badge-notif[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: .7rem;
    background: #e53935;
    color: white;
    width: 5px;
    height: 5px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
  }
  
  .navbar.container {
    padding: 8px 0;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    background: var(--circle);
    text-align: center;
    position: fixed;
    bottom: 0;
    box-shadow: none;
    z-index: 999;
  }
  
  .nav-list .bx {
    font-size: 1.9rem;
    margin: 0px -2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    color: var(--grey);
  }

  .nav-list .active .bx {
    color: var(--blue);
  }

  /* === Icon Transition === */
  .nav-list .bx-solid {
    display: none;
  } 

  .nav-list .active .bx-solid {
    display: flex;
  }

  .nav-list .active .bx-fill {
    display: none;
  }

  .nav-list .active .badge-notif[data-badge]:after {
    display: none;
  }

  .nav-list i::before {
    display: flex;
  }

  /*===== navbar end =====*/

  .container {
    padding-top: 1rem;
  }
  
  .home.container {
    margin-top: 5rem;
  }

  .row.hero {
    margin-top: auto;
  }
  
  .col-1 {
    justify-content: center;
    text-align: center;
  }

  .home.container .col-1 h1 {
    font-size: 38px;
  }

  .home.container .col-1 {
    margin-top: -30px;
    margin-bottom: -40px;
  }
  
  .home.container .col-1 h4 {
    font-size: 36px;
  }

  .home-btn {
    display: none;
  }

  .home-btn-mobile {
    display: block;
    padding-bottom: 30px;
    margin-top: -15px;
  }

  .btn-mobile {
    padding: 10px 40px;
    background: var(--blue);
    border: 0.1rem solid var(--blue);
    color: var(--white);
    border-radius: 13px;
    text-align: center;
    font-size: 15px;
  }

  .about .right p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
  }

  .about.container .content {
    padding-bottom: 0px;
  }
  
  .about .right .button {
    text-align: center;
  }

  .skills .grid-box {
    margin: -20px 0 0;
  }

  .portfolio .ctn-title h1 {
    font-size: 25px;
  }

  /* ============== Contact Modal ================ */
  .credits.container {
    display: none;
  }

  /*=============== BREAKPOINTS MODAL ===============*/
  .modal {
    display: grid;
  }

  .modal__container {
    padding-top: 0;
  }

  .modal__img {
    width: 170px;
  }

  .modal__button-main {
    margin-bottom: 50px;
  }

  .modal__button-link {
    margin: 1rem auto;
  }

  .credits {
    font-size: 15px;
    padding-top: 10px;
  }

  /* end */
}

@media (max-width: 360px) {
  .home.container .col-1 h1 {
    font-size: 35px;
  }
}
