@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'nunito';
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--circle);
}

:root {
  --h1: #000;
  --blue2: #358fef;
  --blue: rgb(28, 34, 51);
  --blue-hover: rgb(20, 24, 37);
  --white: #fff;
  --grey: #b4b2c5;
  --pink: #ea4c89;
  --circle: #f4f3ff;
  --light-blue: #d5e8fd;
  --background: rgba(20, 20, 20, 0.7);
  --button: #c3ad7a;
  --hover: #b39e6f;
  --z-modal: 1000;
}

li {
  list-style: none;
}

h1 {
  font-size: 80px;
  color: var(--h1);
  font-weight: 700;
}

h3 {
  color: var(--grey);
}

p {
  font-size: 16px;
  color: var(--grey);
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 60px auto;
  padding-top: 4rem;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}

.highlight {
  color: var(--button);
}

.circle {
  width: 500px;
  height: 500px;
  background: var(--circle);
  position: absolute;
  top: -40%;
  right: -30%;
  border-radius: 50%;
  z-index: -1;
}

/* Navbar */
.navbar.container {
  background-color: var(--circle);
  margin-top: 0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
}

.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list ul li a {
  color: var(--grey);
}

.navbar .nav-list ul {
  display: flex;
}

.nav-list a {
  font-family: 'nunito';
}

.nav-list a:hover {
  color: var(--h1);
}

.nav-list ul li a {
  text-decoration: none;
  float: left;
}

.nav-list ul li {
  margin: 0 20px;
  color: var(--grey);
  font-size: 18px;
  cursor: pointer;
}

.nav-list .active {
  color: var(--h1);
  font-weight: bold;
}

/* For Mobile Navbar */
.nav-list i::before {
  display: none;
}
/* end */

.photo {
  width: 30px;
  margin-right: 20px;
  margin-top: 3px;
}

.logo {
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Dancing Script';
  letter-spacing: 0.10rem;
}

/* Home */
.home.container {
  position: relative;
}

.row.hero .col-1 {
  width: 100%;
  flex-direction: column;
}

.row.hero .col-2 img {
  max-width: 100%;
  margin-top: -30px;
}

.hero-img img {
  border-radius: 50% 50% 15px 15px;
  width: 700px;
}

.row.hero p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-bottom: 20px;
}

.home-btn {
  display: flex;
  font-size: 20px;
}

.ctn {
  padding: 15px 30px;
  border: 0.1rem solid var(--blue);
  border-radius: 12px;
  color: var(--blue);
  border-radius: 17px;
  text-align: center;
}

.cta {
  padding: 15px 40px;
  background: var(--blue);
  color: var(--white);
  border-radius: 17px;
  text-align: center;
  margin-right: 20px;
}

.cta:hover {
  background: var(--blue-hover);
  color: var(--white);
}

/* About */
.about-container .content {
  width: 80%;
  margin: 40px auto;
}

.about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left img {
  width: 350px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--grey);
}

.about-details .right {
  width: 60%;
}

.right .topic {
  color: var(--blue);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-details .right p {
  line-height: 25px;
  text-align: justify;
  color: var(--h1);
}

.about-details .btn-link {
  color: var(--blue2) !important;
  cursor: pointer;
}

.about-details .btn-link:hover {
  text-decoration: underline;
}

.about-details .button {
  margin: 20px 0;
}

.about-details .button li a {
  width: fit-content;
  outline: none;
  padding: 6px 15px;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  border-radius: 12px;
  text-align: center;
}

/* Skills */
.title {
  text-align: center;
  margin-bottom: 60px;
}

.skills .title h1 {
  font-size: 30px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  grid-gap: 50px;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.icon-title img {
  margin-right: 20px;
  width: 50px;
  margin-top: auto;
  border-radius: 12px;
}

.icon-title h2 {
  font-size: 15px;
  color: var(--h1);
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.grid-box {
  padding: 10px;
}

.skills .grid-box {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--white);
}

.skills .grid-box:hover {
  transition: all 0.6s ease;
  transform: scale(1.02); 
  -ms-transform: scale(1.02); /* Support IE 9 */
  -webkit-transform: scale(1.02); /* support Safari */
}

/* Portfolio */
.portfolio .title {
  text-align: center;
}

.portfolio .title .ctn-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ctn-title h1 {
  font-size: 30px;
}

.ctn-title h4 {
  color: var(--h1);
  cursor: pointer;
  font-weight: normal;
}

.ctn-title .highlight a {
  color: var(--blue2);
}

.ctn-title .highlight a:hover {
  text-decoration: underline;
}

.portfolio-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.portfolio-card .box {
  background-color: #fff;
  padding: 10px;
  border-radius: 17px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.portfolio-card .box .box-img {
  width: 100%;
}

.portfolio-card .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.portfolio-card .box h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 1rem 0 1rem;
}

.portfolio-card .box h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--main-color);
  margin: 1rem 0 1rem;
}

.portfolio-card .box .btn {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  background: var(--button);
  color: var(--h1);
  padding: 10px;
  border-radius: 11px;
}

.portfolio-card .box .btn:hover {
  background: var(--hover);
  color: var(--h1);
}

/* Contact Desktop Version*/
.contact .container {
  display: grid;
  text-align: center;
  background: var(--white);
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 30px;
  width: 100%;
}

.contact .container h3 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'nunito';
}

/* === CREDITS / COPYRIGHT === */
.credits.container {
  padding-top: 20px;
  bottom: 0 !important;
  background: var(--circle);
  border-top: solid 1px;
}

.credits {
  text-align: center;
  color: var(--grey);
  font-size: 18px;
  padding-bottom: 30px;
}

.credits .title h1 {
  font-size: 25px;
  margin-bottom: -40px;
}

.social {
  justify-content: space-evenly;
  align-items: center;
}

.social img {
  width: 40px;
  margin: 20px;
  align-items: center;
  padding-bottom: 20px;
}

/* Scroll To Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: var(--white);
  background: var(--blue);
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 5px;
  transition: 0.4s;
}

.scroll-button a:hover {
  background: var(--blue-hover);
  color: var(--white);
}

/* ===== Modal Contact Mobile ===== */
.modal {
  display: none;
  place-items: center;
}

.modal__button-main {
  background-color: var(--blue);
  border: none !important;
  display: inline-block;
  color: #fff;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0.15rem;
}

.modal__button-main:hover {
  background-color: var(--blue-hover);
}

.modal__button a {
  display: inline-block;
  background-color: var(--button);
  color: var(--h1);
  padding: 10px 35px;
  border-radius: 13px;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
}

.modal__button a:hover {
  background-color: var(--hover);
}

.mail a {
  display: inline-block;
  background-color: var(--button);
  color: var(--h1);
  margin: 0;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
}

.tele {
  padding-top: 10px;
}

.tele a {
  display: inline-block;
  background-color: var(--button);
  color: var(--h1);
  margin: 10px 0;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
}

.modal__container {
  position: absolute;
  left: 0;
  width: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
  padding-top: 6rem;
}

.modal__content {
  position: fixed;
  background: var(--blue);
  text-align: center;
  width: 100%;
  border-radius: 40px 40px 0 0;
  transition: all 0.3s;
  transform: translateY(10%);
  bottom: 0;
}

.modal__img {
  width: 170px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.modal__close {
  display: inline-flex;
  background-color: var(--grey);
  border-radius: 0.25rem;
  color: var(--blue);
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

/* Show modal */
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  transform: translateY(0);
}

.contact-icons ul {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.contact-icons ul li a {
  margin: 15px;
  color: var(--button);
  font-size: 30px;
  cursor: pointer;
}