@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #2d3034;
}

h1 {
  padding-top: 2rem;
}

p {
  padding-top: 0;
}

#about {
  background-color: #a5936b;
}
#projects {
  font-family: 'Poppins';
  background-color: #f8f4ee;
  padding-bottom: 4rem;
}

#contact {
  background-color: #a5936b;
}

section {
  padding-top: 4rem;
}
