@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'nunito';
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--circle);
}

:root {
  --h1: #000;
  --h2: #000;
  --social: #fff;
  --background-nav: rgba(235, 241, 245, 0.7);
  --about-color: #dbe5f0;
  --card-color: #fff;
  --blue2: rgb(28, 34, 51);
  --blue: #358fef;
  --button-main: #358fef;
  --button-main-hover: #519cec;
  --button-second: #d9e8f8;
  --purple: #8d5cff;
  --purple-hover: #986cff;
  --white: #fff;
  --grey: #b4b2c5;
  --circle: #f4f3ff;
  --light-blue: #d5e8fd;
  --background: rgba(20, 20, 20, 0.7);
  --button-chocolate: #c3ad7a;
  --button-chocolate-hover: #b39e6f;
  --z-modal: 1000;
}

/*===== Variables Dark theme =====*/
body.dark-theme {
  --h1: #fff;
  --h2: #000;
  --social: #fff;
  --background-nav: rgba(71, 71, 71, 0.7);
  --about-color: #424242;
  --card-color: #424242;
  --blue2: rgb(28, 34, 51);
  --blue: #358fef;
  --purple: #8d5cff;
  --purple-hover: #986cff;
  --white: #fff;
  --grey: #b4b2c5;
  --circle: rgb(47, 47, 47);
  --light-blue: #d5e8fd;
  --background: rgba(20, 20, 20, 0.7);
  --button-chocolate: #c3ad7a;
  --button-chocolate-hover: #b39e6f;
  --z-modal: 1000;
}

li {
  list-style: none;
}

h1 {
  font-size: 80px;
  color: var(--h1);
  font-weight: 700;
}

h3 {
  color: var(--grey);
}

p {
  font-size: 16px;
  color: var(--grey);
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 60px auto;
  padding-top: 4rem;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}

.highlight {
  color: var(--blue);
}

.circle {
  width: 500px;
  height: 500px;
  background: var(--circle);
  position: absolute;
  top: -40%;
  right: -30%;
  border-radius: 50%;
  z-index: -1;
}

/* Change Background Navbar */
.scroll-header {
  backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: var(--background-nav);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  transition: 0.3s ease;
}

/* Navbar */
.navbar.container {
  margin-top: 0;
  position: fixed;
  z-index: 1000;
}

.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list ul li a {
  color: var(--grey);
}

.navbar .nav-list ul {
  display: flex;
}

.nav-list a {
  font-family: 'nunito';
  transition: 0.5s ease;
}

.nav-list a:hover {
  color: var(--h1);
  transition: 0.5s ease;
}

.nav-list ul li a {
  text-decoration: none;
  float: left;
}

.nav-list ul li {
  margin: 0 20px;
  color: var(--grey);
  font-size: 18px;
  cursor: pointer;
}

.nav-list .active {
  color: var(--h1);
  font-weight: bold;
}

.photo {
  width: 30px;
  margin-right: 60px;
  margin-top: 3px;
}

.logo {
  margin-left: 60px;
  font-weight: bold;
  font-family: 'Dancing Script';
  letter-spacing: 0.1rem;
  color: var(--button-main);
}

/* For Mobile Navbar */
.nav-list i::before {
  display: none;
}
/* end */

/* Home */
.home.container {
  position: relative;
  height: 40rem;
}

.row.hero .col-1 {
  width: 100%;
  flex-direction: column;
}

.highlight-name {
  color: var(--button-main);
}

.row.hero .col-2 img {
  max-width: 100%;
}

.row.hero h4 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  color: #a6c5fe;
}

.home-btn {
  display: flex;
  font-size: 20px;
}

.ctn {
  padding: 15px 30px;
  border: 0.1rem solid var(--button-main);
  border-radius: 12px;
  color: var(--button-main-hover);
  border-radius: 17px;
  text-align: center;
}

.cta {
  padding: 15px 40px;
  background: var(--button-main);
  border: 0.1rem solid var(--button-main);
  color: var(--white);
  border-radius: 17px;
  text-align: center;
  margin-right: 20px;
  transition: 0.6s ease;
}

.cta:hover {
  background: var(--button-main-hover);
  color: var(--white);
  transition: 0.6s ease;
}

.home-btn-mobile {
  display: none;
}

/*===== Button Dark/Light Mode =====*/
.dark {
  display: flex;
  align-items: center;
}

.change-theme,
.change-theme-name {
  color: var(--grey);
}

.change-theme {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 10px;
}

.change-theme-name {
  font-size: 15px;
}
/* END */

/* About */
.about.container {
  background: var(--about-color);
  width: 90%;
  border-radius: 20px;
}

.about.container .content {
  width: 90%;
  margin: 20px auto;
  padding-bottom: 50px;
}

.about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left img {
  width: 300px;
  object-fit: contain;
  border-radius: 50%;
}

.about-details .right {
  width: 60%;
}

.right .topic {
  color: var(--h1);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-details .right p {
  line-height: 30px;
  text-align: justify;
  color: var(--h1);
  font-size: 18px;
}

.about-details .btn-link {
  color: var(--blue) !important;
  cursor: pointer;
}

.about-details .btn-link:hover {
  text-decoration: underline;
}

.about-details .button {
  margin: 30px 0;
}

.about-details .button li a {
  outline: none;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  border-radius: 12px;
  text-align: center;
}

/* Skills */
.title {
  text-align: center;
  margin-bottom: 60px;
}

.skills .title h1 {
  font-size: 30px;
  margin: 10px;
}

.skills .title h4 {
  font-weight: normal;
  color: var(--h1);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  grid-gap: 50px;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.icon-title img {
  margin-right: 20px;
  width: 50px;
  margin-top: auto;
  border-radius: 11px;
}

.icon-title h2 {
  font-size: 16px;
  color: var(--h1);
  font-weight: 600;
}

.grid-box {
  padding: 10px;
}

.skills .grid-box {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--card-color);
  transition: 0.7s ease;
}

.skills .grid-box:hover {
  transition: all 0.6s ease;
  transform: scale(1.02);
  -ms-transform: scale(1.02); /* Support IE 9 */
  -webkit-transform: scale(1.02); /* support Safari */
}

/* Portfolio */
.portfolio .title {
  text-align: center;
  margin-bottom: 60px;
}

.portfolio .title .ctn-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ctn-title h1 {
  font-size: 30px;
  margin: 10px;
}

.ctn-title h4 {
  color: var(--h1);
  cursor: pointer;
  font-weight: normal;
}

.ctn-title .highlight a {
  color: var(--blue);
}

.ctn-title .highlight a:hover {
  text-decoration: underline;
}

.portfolio-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.portfolio-card .box {
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 17px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.portfolio-card .box .box-img {
  width: 100%;
}

.portfolio-card .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 11px;
}

.portfolio-card .box h3 {
  font-size: 13px;
  font-weight: 600;
  margin: -0.5rem 0 10px;
}

.portfolio-card .box h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--h1);
  margin: 10px 0;
}

.portfolio-card .box .btn {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  background: var(--button-second);
  color: var(--button-main);
  padding: 10px;
  border-radius: 11px;
}

/* Contact Desktop Version*/
.contact .container {
  display: grid;
  text-align: center;
  background: var(--white);
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 30px;
  width: 100%;
}

.contact .container h3 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'nunito';
}

/* === CREDITS / COPYRIGHT === */
.credits.container {
  padding-top: 20px;
  bottom: 0 !important;
  background: var(--about-color);
  border-radius: 20px;
}

.credits {
  text-align: center;
  color: var(--grey);
  font-size: 18px;
  padding-bottom: 30px;
}

.credits .title h1 {
  font-size: 25px;
  margin-bottom: -40px;
}

.social {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.social a {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  20px;
  color: var(--h1);
  border-radius: 50%;
  border: 1px solid var(--h1);
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}

.social a:hover {
  color: var(--social);
  background: var(--button-main);
  border: 1px solid var(--button-main);
  transition: all 0.4s ease;
}

/* Scroll To Top Button */
.scroll-button a {
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: var(--white);
  background: var(--button-main);
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 5px;
  transition: 0.4s;
}

.scroll-button a:hover {
  background: var(--button-main-hover);
  color: var(--white);
}

/* ===== Modal Contact Mobile ===== */
.modal {
  display: none;
  place-items: center;
}

.modal__button-main {
  background-color: var(--button-main);
  border: none !important;
  display: inline-block;
  color: var(--white);
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0.15rem;
}

.modal__button a {
  display: inline-block;
  background: var(--button-main);
  color: var(--white);
  padding: 10px 35px;
  border-radius: 13px;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
}

.mail a {
  display: inline-block;
  margin: 0;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
}

.tele {
  padding-top: 10px;
}

.tele a {
  display: inline-block;
  margin: 10px 0;
  border: none !important;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
}

.modal__container {
  position: fixed;
  width: 100%;
  left: 0;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
  background: rgba(17, 17, 17, 0.7);
  transition: all 0.3s;
  bottom: 0;
  top: 0;
}

.modal__content {
  position: fixed;
  background: var(--circle);
  text-align: center;
  width: 100%;
  border-radius: 27px 27px 0 0;
  transition: all 0.3s;
  transform: translateY(50%);
  bottom: 0;
}

.modal__img {
  width: 170px;
  margin-top: 1rem;
}

.modal__close {
  display: inline-flex;
  background-color: var(--circle);
  border-radius: 0.25rem;
  color: var(--h1);
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

/* === Show modal === */
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  transform: translateY(0);
}

.contact-icons ul {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.contact-icons ul li a {
  margin: 15px;
  color: var(--grey);
  font-size: 30px;
  cursor: pointer;
}

.contact-icons ul li a:hover {
  color: var(--button-main);
}
