@media (max-width: 1350px) {
  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }
}

@media (max-width: 1120px) {
  .photo {
    margin-right: 20px;
  }

  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left img {
    display: flex;
    justify-content: center;
    margin: 70px auto 0;
    width: 200px;
    height: 200px;
  }

  .about-details .right {
    width: 105%;
    margin: 0;
  }

  .contact .container {
    padding: 10px;
    padding-bottom: 40px;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }

  .home.container {
    height: auto;
  }

  .home.container .row {
    flex-direction: column;
  }

  .home.container .col-1 {
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .col-1 h4 {
    text-align: center;
    justify-content: center;
  }

  .row.hero .col-2 img {
    margin-top: 2rem;
    width: 100%;
    margin-right: 0;
  }

  .home .row .shape-01 {
    right: 20%;
  }

  .about .right p,
  .skills .grid-box h2 {
    font-size: 15px;
  }

  .accordion {
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }

  .accordion .image-box {
    height: 360px;
    width: 220px;
  }

  .accordion .accordion-text {
    width: 63%;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .about .right .topic,
  .about-details .right p {
    text-align: center;
  }

  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
}

@media (max-width: 800px) {
  .nav-list ul {
    margin-right: 10px;
  }

  .navbar .dark {
    margin-left: 1.5rem;
  }

  .home.container .col-1 h4 {
    font-size: 40px;
  }

  .quote {
    margin: -80px 0;
  }

  .quote p {
    width: 98%;
  }

  .bell-quote {
    font-size: 65px;
    bottom: 85%;
    right: 92%;
  }

  .accordion {
    flex-direction: column;
  }

  .accordion .image-box {
    height: 360px;
    width: 300px;
    width: 100%;
    border-radius: 25px;
    padding: 0;
  }

  .accordion .accordion-text {
    width: 100%;
    margin-top: 30px;
  }

  .accordion .accordion-text .title {
    display: block;
  }

  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .portfolio-card .box {
    transform: unset !important;
  }
}

@media (max-width: 640px) {
  .home.container .col-1 h1 {
    font-size: 20px;
  }

  .home.container {
    margin-top: 0;
  }

  .skills .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  }

  .sponsor__img {
    width: 120px;
  }

  .sponsor__img.resize {
    width: 180px;
  }

  .portfolio-card .box .btn {
    font-size: 14px;
  }

  .portfolio-category {
    overflow-x: scroll;
    padding-bottom: 1rem;
  }
  .shape-03,
  .shape-04 {
    display: none;
  }
}

/* CLOSE MODAL MIN-WIDTH  */
@media (min-width: 510px) {
  html.show-modal {
    overflow: auto !important;
  }

  .modal__button-main,
  .modal__container,
  .modal__content {
    display: none;
  }
}
/* END */

@media (max-width: 500px) {
  html {
    scroll-behavior: unset;
  }

  .scroll-button {
    display: none;
  }

  .shape-03,
  .shape-04 {
    display: none;
  }

  /*===== Mobile Navbar =====*/
  @keyframes shake {
    1.25%,
    11.25% {
      transform: translate3d(-1px, 0, 0);
    }
    2.5%,
    10% {
      transform: translate3d(1px, 0, 0);
    }
    3.75%,
    6.25%,
    8.75% {
      transform: translate3d(-1px, 0, 0);
    }
    5%,
    7.5% {
      transform: translate3d(1px, 0, 0);
    }
  }

  .list .badge-notif {
    position: relative;
  }

  .list .badge-notif[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -1px;
    left: 3px;
    font-size: 0.7rem;
    background: #e53935;
    color: white;
    width: 5px;
    height: 5px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    animation: shake 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }

  .navbar.container {
    padding: 7px 0;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    background: var(--circle);
    text-align: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0.2rem 0.5rem rgba(34, 34, 34, 0.5);
    z-index: 999;
  }

  .nav-list .fi {
    font-size: 1.3rem;
    margin: 1px auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    color: var(--grey);
    cursor: default !important;
    height: 24px;
    width: 24px;
  }

  .nav-name.contact,
  .nav-name {
    display: block;
    font-size: 12px;
    color: var(--grey);
    font-weight: bold;
    letter-spacing: 0.6px;
  }

  .nav-name {
    height: unset !important;
    width: unset !important;
  }

  .nav-list .active .nav-name,
  .nav-list .active .icon-solid {
    height: 24px;
    width: 24px;
    background: var(--button-icon); 
    background: var(--button-icon); 
    background: var(--button-icon);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
  }

  /* === Icon Transition in Mobile === */
  .nav-list .icon-solid {
    display: none;
  }

  .nav-list .active .icon-solid {
    display: flex;
  }

  .nav-list .active .icon-regular {
    display: none;
  }

  .nav-list .active .badge-notif[data-badge]:after {
    display: none;
  }

  .nav-list i::before {
    display: flex;
  }

  .navbar .photo {
    display: none;
  }

  .nav-list ul {
    margin: unset !important;
  }
  /*===== navbar end =====*/

  /*===== Button Dark/Light Mode (new verion) =====*/
  .dark {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 55%;
    border-radius: 20px 0 0 20px;
    z-index: 2;
  }
  /* END */

  .container {
    padding-top: 1rem;
  }

  /* 2.5rem */
  .home.container {
    margin-top: 0;
  }
  /* end */

  .home .row .shape-01 {
    right: 85%;
    top: 50px;
  }

  .home .row .col-2 .shape-02 {
    right: 10%;
    top: 90%;
  }

  .row.hero {
    margin-top: auto;
  }

  .col-1 {
    justify-content: center;
    text-align: center;
  }

  .home.container .col-1 h1 {
    font-size: 17px;
  }

  .highlight-name {
    font-size: 40px;
  }

  /* top -50px */
  .home.container .col-1 {
    margin-top: 40px;
    margin-bottom: -40px;
  }
  /* end */

  .home.container .col-1 h4 {
    font-size: 25px;
  }

  .home.container .col-2 {
    margin-top: -30px;
    margin-bottom: 70px;
  }

  .home-btn {
    display: none;
  }

  .bell-quote {
    font-size: 50px;
    right: 90%;
  }

  .accordion {
    padding: 25px;
  }

  .accordion-text li .question-arrow .question {
    width: 95%;
    font-size: 16px;
  }

  .accordion-text li p {
    width: 87%;
    font-size: 15px;
  }

  .about-details .right {
    margin-top: 0px;
  }

  .about .right .topic {
    font-size: 25px;
  }

  .about .right {
    width: 120%;
    text-align: center;
    line-height: 25px;
    justify-content: center;
  }

  .about.container .content {
    padding-bottom: 0px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
  }

  .about .right .button {
    text-align: center;
  }

  .skills .grid-box {
    margin: -20px 0 0;
    transition: none;
  }

  .skills .grid-box:hover img {
    transform: none;
  }

  .skills .title h4 {
    font-size: 17px;
  }

  .sponsor__container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .portfolio {
    margin-bottom: 250px;
  }

  .portfolio-card {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 1.2rem;
  }

  .ctn-title h4 {
    font-size: 17px;
  }

  .portfolio .title {
    margin-bottom: 40px;
  }

  .portfolio-card .box h2 {
    font-size: 16px;
  }

  .portfolio-card .box h3 {
    font-size: 15px;
  }

  .dark .change-theme,
  .about-details .btn-link,
  .accordion-text li .question-arrow .arrow,
  .ctn-title .highlight a,
  .portfolio-card .box h2 a,
  .portfolio-card .box .btn {
    cursor: default;
  }
  
  /* ===== Contact Modal Mobile Version ===== */
  .credits.container {
    display: none;
  }

  /*===== BREAKPOINTS MODAL =====*/
  .modal {
    display: grid;
  }

  .modal__container {
    padding-top: 0;
  }

  .modal__button-link {
    margin: 1rem auto;
  }

  .credits {
    font-size: 15px;
    padding-top: 10px;
  }
  /* end */

  .modal__button-main {
    background-color: var(--button-main);
    border: none !important;
    outline: none !important;
    display: inline-block;
    color: var(--white);
    padding: 15px;
    margin-top: -30px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 15px;
    z-index: 3;

    -webkit-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 1px 2px 6px rgba(255, 255, 255, 0.2), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.15rem 0.15rem 0 rgba(0, 0, 0, 0.3) !important;
  }

  .modal__button-main i {
    margin-left: 5px;
  }

  .modal__button-main:hover {
    animation: none;
    transform: scale(0.97);
    -ms-transform: scale(0.97); /* Support IE 9 */
    -webkit-transform: scale(0.97); /* support Safari */
  }

  .modal__button a {
    display: inline-block;
    background: var(--button-main);
    color: var(--white);
    padding: 10px 35px;
    border-radius: 13px;
    border: none !important;
    cursor: default !important;
  }

  .modal__button a:hover {
    background: var(--button-main-hover);
  }

  .mail a {
    display: inline-block;
    margin: 0;
    border: none !important;
    width: 70%;
  }

  .tele {
    padding-top: 10px;
  }

  .tele a {
    display: inline-block;
    margin: 10px 0;
    border: none !important;
    width: 70%;
  }

  .modal__container {
    position: fixed;
    width: 100%;
    left: 0;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;
    background: rgba(17, 17, 17, 0.7);
    transition: all 0.3s;
    bottom: 0;
    top: 0;
  }

  .modal__content {
    position: fixed;
    background: var(--modal-color);
    text-align: center;
    width: 100%;
    border-radius: 27px 27px 0 0;
    transition: all 0.3s;
    transform: translateY(50%);
    bottom: 0;
  }

  .modal__img {
    width: 170px;
    margin-top: 1rem;
  }

  .modal__close {
    display: inline-flex;
    background-color: var(--modal-color);
    border-radius: 0.25rem;
    color: var(--grey);
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .type #typed {
    font-size: 15px;
    font-weight: bold;
    color: var(--button-fill);
    text-align: center;
  }

  .type {
    margin: 0 0 10px 0;
  }
  
  .typed-cursor {
    color: var(--button-fill);
  }

  /* === Show modal === */
  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .show-modal .modal__content {
    transform: translateY(0);
  }

  .contact-icons ul {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .contact-icons ul li a {
    margin: 15px;
    color: var(--grey);
    font-size: 30px;
    cursor: default !important;
  }

  .contact-icons ul li a:hover {
    color: var(--green);
  }

  #credits-contact {
    color: var(--h1);
    font-weight: normal;
  }
}
