@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'nunito';
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--circle);
}

:root {
  --h1: #000;
  --h2: #000;
  --social: #fff;
  --background-nav: rgba(255, 255, 255, 0.7);
  --background-credits: rgba(255, 255, 255, 0.45);
  --about-color: #fff;
  --card-color: #fff;
  --modal-color: #fff;
  --button-main: #8d5cff;
  --button-main-hover: #814cfd;
  --button: #8656f8;
  --button-fill: #8d5cff;
  --shadow-animation-1: rgba(82, 82, 82, 0.7);
  --shadow-animation-2: rgba(255, 255, 255, 0);
  --shadow-animation-3: rgba(255, 255, 255, 0);
  --credits-shadow: 0 0 0.3rem 0.3rem rgba(97, 97, 97, 0.3);
  --accordion-text: #8d5cff;
  --accordion-line: rgba(0, 0, 0, 0.1);
  --white: #fff;
  --grey: #b4b2c5;
  --circle: #fff;
  --title: #8d5cff;

  /* subtitues line-up */
  --blue: #358fef;
  --button-second: linear-gradient(to right bottom, #9ba4ff, #9faefe, #a4b7fc, #acc0fa, #b5c9f7, #c0cff6, #cad6f5, #d4dcf4, #dfe3f5, #e9eaf6, #f2f1f7, #f9f9f9);
  --circle2: #f4f3ff;
  --z-modal: 1000;
}

/*===== Variables Dark theme =====*/
body.dark-theme {
  --h1: #fff;
  --h2: #000;
  --social: #fff;
  --background-nav: rgba(255, 255, 255, 0.1);
  --background-credits: rgba(12, 12, 15, 0.15);
  --about-color: #28262e;
  --card-color: rgb(12, 12, 15);
  --button-fill: #fff;
  --modal-color: rgb(37, 37, 41);
  --accordion-text: #ff9800;
  --accordion-line: rgba(255, 255, 255, 0.18);

  --shadow-animation-1: rgba(255, 255, 255, 0.7);
  --shadow-animation-2: rgba(255, 255, 255, 0);
  --shadow-animation-3: rgba(255, 255, 255, 0);
  --credits-shadow: 0 0 0.3rem 0.3rem rgba(238, 234, 234, 0.3);
  --white: #fff;
  --grey: #b4b2c5;
  --circle: rgb(12, 12, 15);
  --title: #d1befd;

  /* subtitues line-up */
  --blue: #358fef;
  --circle-subtitues-color: #202127;
  --card-color-2: #383a42;
  --about-color-2: #383a42;
  --background-credits-2: rgba(255, 255, 255, 0.1);
  --z-modal: 1000;
}

li {
  list-style: none;
}

h1 {
  font-size: 30px;
  color: var(--h1);
  font-weight: 700;
}

h3 {
  color: var(--grey);
}

p {
  font-size: 16px;
  color: var(--grey);
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 60px auto;
  padding-top: 4rem;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}

.highlight {
  color: var(--blue);
}

/*========== Preloader Start ==========*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #111111;
  z-index: 1099;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}

.preloader.loaded {
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.preloader .loader {
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: ani01 1s linear infinite;
}

/* Change Background Navbar */
/* .scroll-header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: var(--background-nav);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  transition: 0.1s ease;
} */

/*========== NAVBAR ==========*/
.navbar.container {
  margin-top: 0;
  position: absolute;
  z-index: 1000;
}

.navbar {
  width: 100%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-list ul {
  display: flex;
  margin-right: 40px;
}

.nav-list ul li {
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.nav-list a {
  color: var(--grey);
  font-family: 'nunito';
  transition: 0.3s ease;
  cursor: default !important;
}

.nav-list a:hover,
.nav-list .active {
  color: #ff9800;
  font-weight: bold;
}

/*=== For Mobile Navbar ===*/
.nav-list i::before {
  display: none;
}
/*========== end ==========*/

/*========== HOME ==========*/
#waves {
 margin-top: -500rem;
 width: 100rem;
}

.home.container {
  position: relative;
  height: 40rem;
}

@keyframes ani01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home .row .shape-01 {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #ff9800;
  border-radius: 5px;
  right: 50%;
  top: 35%;
  animation: ani01 10s linear infinite;
  z-index: 1;
}

.home .row .shape-02 {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  border-radius: 5px;
  right: 70%;
  top: 10%;
  animation: ani01 10s linear infinite;
  z-index: 1;
}

.row.hero .col-1 {
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
}

.highlight-name {
  color: var(--button-main);
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
}

.row.hero .col-2 img {
  max-width: 100%;
  animation: bounceTop_01 4s ease infinite;
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

.row.hero h4 {
  margin: 10px 0 30px 0;
  font-size: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  color: #d1befd;
}

.home-btn {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.ctn {
  padding: 15px 30px;
  border: 2px solid var(--grey);
  border-radius: 12px;
  color: var(--h1);
  border-radius: 17px;
  text-align: center;
  cursor: default;
}

.cta {
  padding: 15px 40px;
  background: #ff9800;
  border: 2px solid #ff9800;
  color: var(--h1);
  border-radius: 17px;
  text-align: center;
  margin-right: 20px;
  cursor: default;
  transition: 0.6s ease;
  animation: pulse_01 2s ease infinite;
}

@keyframes pulse_01 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--shadow-animation-1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px var(--shadow-animation-2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--shadow-animation-3);
  }
}

.ctn:hover {
  border: 2px solid var(--button-main);
  color: var(--button-main);
}

.cta:hover {
  color: var(--h1);
  transition: 0.6s ease;
  animation: none;
}

/*========== Button Dark/Light Mode ==========*/
.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-main);
  border-radius: 20px;
  width: 35px;
  height: 35px;
  margin: 5px 0 5px 3.5rem;
  -webkit-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 1px 2px 6px rgba(255, 255, 255, 0.2), inset -1px -3px 9px rgba(0, 0, 0, 0.3), 0 0.15rem 0.15rem 0 rgba(0, 0, 0, 0.3) !important;
}

.change-theme {
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  margin: 20px 5px;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--circle);
  width: 80%;
  border-radius: 15px;
  margin: -45px 0;
  left: 10%;
  padding: 20px;
}

.quote p {
  color: var(--grey);
  width: 61%;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.bell-quote {
  position: absolute;
  color: #ffe600;
  font-size: 100px;
  bottom: 75%;
  right: 90%;
}
/*========== END ==========*/

/*========== ACCORDION ==========*/
.accordion-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem 0 5rem 0;
}

.accordion {
  display: flex;
  max-width: 1210px;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  padding: 45px 90px 45px 60px;
}

.accordion .image-box {
  height: 360px;
  width: 300px;
}

.accordion .image-box img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: bounceTop_01 5s ease infinite;
}

.accordion .accordion-text {
  width: 60%;
}

.accordion .accordion-text .title {
  font-size: 35px;
  font-weight: 600;
  color: var(--button-main);
  display: flex;
}

.accordion .accordion-text .faq-text {
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}

.faq-text::-webkit-scrollbar {
  display: none;
}

.accordion .accordion-text .arrow {
  list-style: none;
  cursor: pointer;
}

.accordion-text li .question-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-text li .question-arrow .question {
  font-size: 18px;
  font-weight: 800;
  margin: 10px 0 10px 0;
  color: var(--h1);
}

.accordion-text li .question-arrow .arrow {
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li.showAnswer .question-arrow .arrow {
  transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .arrow {
  color: var(--accordion-text);
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
  color: var(--accordion-text);
}

.accordion-text li .line {
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: var(--accordion-line);
}

.accordion-text li p {
  width: 85%;
  font-size: 16px;
  font-weight: 500;
  color: var(--h1);
  padding: 0 0 10px 0;
  display: none;
}

.accordion-text li.showAnswer p {
  display: block;
}
/*========== END ==========*/

/*========== About ==========*/
.about {
  margin-bottom: 100px;
}

.about.container .content {
  margin: 20px auto;
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left img {
  width: 300px;
  object-fit: contain;
  border-radius: 50%;
  margin: 70px 0 0 50px;
}

.about-details .right {
  width: 100%;
  padding: 50px;
  margin-top: 50px;
}

.right .topic {
  color: #ff9800;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-details .right p {
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: left;
  color: var(--h1);
  font-size: 18px;
  margin-bottom: 30px;
}

.about-details .btn-link {
  color: var(--button-main);
  cursor: pointer;
}

.about-details .btn-link:hover {
  text-decoration: underline;
  color: var(--button-fill);
}

.about-details .button {
  margin: 30px 0;
  display: none;
}

/* .about-details .button a {
  outline: none;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 12px;
  text-align: center;
} */

/*========== Skills ==========*/
.title {
  text-align: center;
  margin-bottom: 60px;
}

.skills .title h1 {
  font-size: 30px;
  margin: 10px;
}

.skills .title h4 {
  font-size: 20px;
  font-weight: normal;
  color: var(--h1);
}

.grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  grid-gap: 50px;
}

.icon-title {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon-title img {
  width: 80px;
  margin: 30px 0 5px 5px;
  border-radius: 11px;
  transition: all 0.3s linear;
}

.grid-box span {
  color: var(--accordion-text);
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0 0 15px;
}

.grid-box h2 {
  text-align: left;
  line-height: 25px;
  letter-spacing: 0.8px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--h1);
  font-weight: normal;
}

.skills .grid-box {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.skills .grid-box:hover {
  transition: all 0.2s linear;
}

.skills .grid-box:hover img {
  box-shadow: none;
  transition: all 0.2s linear;
  transform: scale(1.1);
}

/*========== RESOURCES ==========*/
.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  padding-bottom: 3rem;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: var(--grey);
}

.swiper-pagination-bullet-active {
  background: #ff9800;
  width: 18px;
  height: 8px;
  border-radius: 5px;
}

.title-sponsor {
  padding-top: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title-sponsor h1 {
  font-size: 30px;
  margin: 10px;
}

.sponsor__container {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 1rem;
  padding: 1rem;
}

/* .sponsor__content:hover .sponsor__img {
  filter: invert(0.2);
} */

.sponsor__img {
  width: 200px;
  margin-bottom: 5rem;
  filter: invert(0.5);
  transition: all 0.3s;
}

.sponsor__img.resize {
  width: 270px;
}
/*========== END =========*/

/*========== PORTFOLIO ==========*/
.portfolio .title {
  text-align: center;
  margin-bottom: 60px;
}

.portfolio .title .ctn-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ctn-title h1 {
  font-size: 30px;
  margin: 10px;
}

.ctn-title h4 {
  font-size: 20px;
  color: var(--h1);
  font-weight: normal;
}

.ctn-title .highlight a {
  color: var(--button-main);
  font-weight: bold;
}

.ctn-title .highlight a:hover {
  text-decoration: underline;
  color: var(--button-fill);
}

.portfolio-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.portfolio-card .box {
  padding: 0;
  border-radius: 17px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portfolio-card .box .box-img {
  width: 100%;
}

.portfolio-card .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 17px 17px 0 0;
}

.portfolio-card .box h2 {
  padding: 0 10px 0 10px;
  font-size: 17px;
  font-weight: 600;
  color: var(--h1);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.portfolio-card .box h2 a {
  color: var(--grey);
  margin-top: 3px;
}

.portfolio-card .box h2 a:hover {
  color: #ff9800;
}

.portfolio-card .box h3 {
  padding: 0 10px 0 10px;
  font-size: 16px;
  font-weight: 600;
  margin: -0.5rem 0 10px;
}

.portfolio-card .box .btn {
  font-size: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  color: var(--button-main);
  padding: 10px 0 20px 0;
  border-radius: 11px;
}

.portfolio-card .box .btn:hover {
  color: var(--button-fill);
  text-decoration: underline;
}

/* Contact Desktop Version*/
/* ========== CREDITS / COPYRIGHT ==========*/
.credits.container {
  margin-top: 150px;
  padding-top: 20px;
  background: var(--background-credits);
  border-radius: 20px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.shape-03 {
  position: absolute;
  background: #ff9800;
  display: block;
  height: 120px;
  width: 120px;
  border: 10px solid #ff9800;
  border-radius: 50%;
  margin-top: 50px;
  left: 10%;
  z-index: 0;
}

.shape-04 {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  border: 10px solid #ff9800;
  background: #ff9800;
  border-radius: 15px;
  margin-top: 18rem;
  left: 80%;
  animation: ani01 10s linear infinite;
  z-index: 0;
}

.credits {
  text-align: center;
  color: var(--grey);
  font-size: 18px;
  padding-bottom: 30px;
}

.credits .title h1 {
  font-size: 25px;
  margin-bottom: -40px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.social a {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: var(--h1);
  border-radius: 30px;
  border: 2px solid var(--h1);
  font-size: 25px;
  cursor: default;
  transition: all 0.1s ease;
}

.social a:hover {
  color: var(--social);
  background: var(--button-main);
  border: 2px solid var(--button-main);
}

/*========== Scroll To Top Button ==========*/
.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 20px;
  height: 40px;
  width: 40px;
  background: var(--button-main);
  border-radius: 30px;
  transition: 0.2s;
  z-index: 999;
}

.scroll-button:hover {
  background: var(--button-main-hover);
  color: var(--white);
}

.scroll-button a {
  color: var(--white);
  font-size: 20px;
}

/*========== Modal Contact Mobile Version ==========*/
html.show-modal {
  overflow: hidden !important;
}

.modal__button-main {
  background-color: var(--button-main);
  border: none !important;
  display: none;
  color: var(--white);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  letter-spacing: 0.05rem;
  font-size: 15px;
}

.modal__button a {
  display: inline-block;
  background: var(--button-main);
  color: var(--white);
  padding: 10px 35px;
  border-radius: 13px;
  border: none !important;
}

.mail a {
  display: inline-block;
  margin: 0;
  border: none !important;
  width: 70%;
}

.tele {
  padding-top: 10px;
}

.tele a {
  display: inline-block;
  margin: 10px 0;
  border: none !important;
  width: 70%;
}

.modal__container {
  position: fixed;
  width: 100%;
  left: 0;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
  background: rgba(17, 17, 17, 0.7);
  transition: all 0.3s;
  bottom: 0;
  top: 0;
}

.modal__content {
  position: fixed;
  text-align: center;
  width: 100%;
  border-radius: 27px 27px 0 0;
  transition: all 0.3s;
  transform: translateY(50%);
  bottom: 0;
}

.modal__img {
  width: 170px;
  margin-top: 1rem;
}

.modal__close {
  display: inline-flex;
  border-radius: 0.25rem;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

/*========== Show modal ==========*/
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  transform: translateY(0);
}

.contact-icons ul {
  display: flex;
  justify-content: center;
  padding: 5px 0 10px 0;
}

.contact-icons ul li a {
  margin: 15px;
  color: var(--grey);
  font-size: 30px;
}

.contact-icons ul li a:hover {
  color: var(--button-main);
}

/*========== PORTFOLIO CATEGORY ==========*/
.portfolio-category {
  display: flex;
}

.portfolio-category::-webkit-scrollbar {
  width: 0;
}

.portfolio-category button {
  font-family: 'nunito';
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0.5rem 2.5rem;
  width: max-content;
  margin: 0 1rem 0 0;
  outline: none;
  border: 1px solid var(--grey);
  background: transparent;
  color: var(--h1);
  border-radius: 10px;
}

.portfolio-category button:hover {
  border: 1px solid var(--button-main);
}

.portfolio-category button.active {
  background-color: var(--button-main);
  color: var(--white);
  border: 1px solid var(--button-main);
}

.portfolio-card > div {
  display: none;
}

.portfolio-card.all > div,
.portfolio-card.whatsnew > div.whatsnew-type,
.portfolio-card.more > div.more-type {
  display: block;
}

.portfolio-category .delay-6 button.active {
  margin-bottom: 310px;
  transition: unset;
}
