@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Roboto+Condensed&display=swap');

/* @font-face {
  font-family: 'Awaken Regular';
  src: url('awaken.regular.otf') format('opentype')
} */

:root {
  /* ----- COLORS ----- */
  --body-color: #f2f2f2;
  /* --title-color: #183a37; */
  --title-color: #101010;
  --text-color: #101010;
  --button-color: #101010;
  --light-dark: #f2f2f2;
  --shadow-text: rgba(107, 107, 107, 0.1);

  /* ----- FONT----- */
  --title-font-family: 'Gayathri', sans-serif;
  --body-font-family: 'Roboto Condensed', sans-serif;
  --line-height: 1.5em;
  --small-fs: 0.875rem;
  --normal-fs: 1rem;
  --medium-fs: 1.25rem;
  --big-fs: 1.75rem;
  --xl-fs: 3.5rem;
  --special-fs: 10rem;
}

.dark-theme {
  --body-color: #101010;
  --title-color: #fff;
  --text-color: #fff;
  --button-color: #fff;
  --light-dark: #101010;
  --shadow-text: rgba(163, 163, 163, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--body-font-family);
  font-weight: normal;
  background-color: var(--body-color);
  scroll-behavior: smooth;
}

section,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.container {
  width: 90%;
  max-width: 1204px;
  padding: 1rem 0;
}

h1,
h2 {
  font-weight: normal;
  color: var(--title-color);
  margin: 0;
}

h3 {
  font-weight: normal;
  color: var(--text-color);
  font-size: var(--xl-fs);
}

hr {
  height: 1px;
  background-color: var(--title-color);
  color: var(--title-color);
  margin: 1rem 0;
  border: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.gsap-text {
  /* --- SCROLL TRIGGER --- */
  opacity: 0;
  transform: translateY(0px);
}

.line-hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--title-color);
  transition: width 0.3s ease-in-out;
}

.line-hover:hover::after {
  width: 100%;
}

.arrow-wrapper {
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 1rem;
}

.arrow-wrapper span {
  font-size: var(--normal-fs);
  font-family: var(--body-font-family);
  color: var(--text-color);
}

svg.arrow-section {
  width: var(--medium-fs);
  margin-right: 1rem;
}

svg.arrow-footer {
  width: var(--xl-fs);
  margin-bottom: 1.5rem;
}

.title-section {
  font-family: var(--title-font-family);
  font-size: var(--xl-fs);
  position: relative;
}

/* ======= LOADING SCREEN ======= */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  z-index: 9999;
}

.loading-screen p {
  display: inline-block;
  white-space: pre;
  font-size: var(--medium-fs);
  color: var(--title-color);
}

.loading-screen .hidden {
  visibility: hidden;
}

.loading-screen span {
  position: relative;
  font-family: var(--title-font-family);
  font-size: 8rem;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 30px;
}

.loading-screen span::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--title-color);
  transform-origin: center;
  animation: loadingAnimation 2s linear;
}

@keyframes loadingAnimation {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
/* -------- LOADING END ---------- */

/* ----------- DARK LIGHT MODE ------------ */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.7em;
  margin: 0 3px 0 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;
  transition: 0.3s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 5px;
  bottom: 4.5px;
  z-index: 2;
  background-color: var(--light-dark);
  transition: 0.3s;
}

.sun svg {
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: 1;
  width: 19px;
  height: 19px;
}

.moon svg {
  position: absolute;
  top: 5.3px;
  left: 29px;
  z-index: 1;
  width: 19px;
  height: 19px;
}

.input:checked + .slider {
  background-color: #f2f2f2;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #101010;
}

.input:checked + .slider:before {
  transform: translateX(22px);
}
/* --------- END ---------- */

/* ========================== HEADER NAV =========================== */
nav {
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s ease-in-out;
}

nav.hidden {
  top: -100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  width: 90%;
  max-width: 1204px;
}

.nav-logo {
  font-size: var(--xl-fs);
  color: var(--title-color);
  text-decoration: none;
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-items .shadow-text {
  display: none;
}

.navbar-link {
  position: relative;
  color: var(--title-color);
  font-size: var(--big-fs);
  text-decoration: none;
  padding: 0;
  margin-left: 1rem;
}

.navbar-link.active::after  {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--title-color);
  transition: width 0.1s ease-in-out;
}

.navbar-link-number,
.navbar-link-credit {
  display: none;
}

.navbar-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 0;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

/* ========================== HERO SECTION =========================== */
#home .container {
  z-index: 1;
  position: relative;
}

#home {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 0 !important;
}

#home .shadow-text {
  position: absolute;
  font-family: var(--body-font-family);
  font-size: 30rem;
  font-weight: 900;
  color: var(--shadow-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

svg.arrow {
  width: var(--xl-fs);
  margin: 1rem 0 2rem 0 ;
}

#Artboard {
  stroke: var(--text-color);
}

/* CIRCLE LOGO */
.circle-text-container {
  position: absolute;
  top: 5%;
  right: 0;
}

.circle-text-wrapper {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-logo { 
  position: absolute;
  width: 130px;
  height: 130px;
  background: url(../img/me.png);
  background-size: cover;
  border-radius: 50%;
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
}

.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 15s linear infinite;
}

.circle-text span {
  position: absolute;
  left: 50%;
  font-size: var(--normal-fs);
  color: var(--text-color);
  transform-origin: 0 90px;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* CIRCLE END */

.hero-name {
  opacity: 0;
  transform: translateY(-50px);
  font-family: var(--title-font-family);
  font-size: var(--special-fs);
  color: var(--title-color);
}

.hero-subtitle {
  font-size: var(--xl-fs);
  margin: 1rem 0 2rem 0;
}

.hero-email a {
  position: relative;
  font-size: var(--big-fs);
  color: var(--button-color);
  padding-bottom: 5px;
  margin: 0;
}

.hero-contact {
  margin-top: 2rem;
}

.hero-contact-dot {
  display: inline-block;
  background-color: var(--button-color);
  border-radius: 50px;
  padding: 1px 20px;
  margin: 0 0.3rem 10px 0;
}

.hero-contact a {
  position: relative;
  font-size: var(--big-fs);
  color: var(--button-color);
  margin-right: 5px;
}

.hero-btn-wrapper {
  padding-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.hero-btn {
  font-size: var(--big-fs);
  padding: 10px 25px;
  border-radius: 50px;
  color: var(--button-color);
  background-color: transparent;
  border: 2px solid var(--button-color);
  transition: all .3s ease;
}

.hero-btn:hover {
  color: var(--light-dark);
  background-color: var(--button-color);
}

/* ========================== ABOUT SECTION =========================== */
#about {
  position: relative;
  overflow: hidden;
}

#about .shadow-text {
  position: absolute;
  font-family: var(--body-font-family);
  font-size: 30rem;
  font-weight: 900;
  color: var(--shadow-text);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.about-subtitle {
  margin: 1.5rem 0;
  position: relative;
  z-index: 2;
}

.about-text {
  color: var(--text-color);
  font-size: var(--big-fs);
  line-height: var(--line-height);
  position: relative;
  z-index: 2;
}

.about-experience-wrapper {
  font-size: var(--xl-fs);
  margin-top: 3rem;
  padding: 0 0 0 10px;
  display: grid;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
}

.about-experience-wrapper .title {
  font-family: var(--title-font-family);
}

.about-experience-wrapper .duration {
  font-size: var(--normal-fs);
  margin-top: 1rem;
}

.about-experience-company {
  font-size: var(--big-fs);
  margin: .5rem 0 1rem 0;
}

.about-experience-company em,
.about-experience-desc {
  font-size: var(--medium-fs);
}

.about-experience-desc .desc {
  font-size: var(--normal-fs);
}

/* ========================== FOOTER =========================== */
/* SCROLL TOP BTN */
.scroll-top-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-top-btn {
  padding: 11px 6px;
  border-radius: 50px;
  border: 2px solid var(--button-color);
  color: var(--button-color);
  background-color: transparent;
}
/* END */

.footer-contact-wrapper a {
  position: relative;
  font-size: var(--big-fs);
  color: var(--button-color);
  margin-right: 10px;
}

.footer-contact-wrapper i {
  position: absolute;
  font-size: var(--small-fs);
  top: -5px;
}

.footer-time {
  margin: 20px 0 30px 0;
  font-size: var(--medium-fs);
  color: var(--text-color);
}

footer,
footer .container {
  padding-bottom: 1rem;
}

footer hr {
  margin-bottom: 2rem;
}

.footer-credit {
  display: flex;
  justify-content: end;
  font-size: var(--medium-fs);
  color: var(--text-color);
}

/* ========================== MEDIA QUERY =========================== */

@media (max-width: 768px) {
  :root {
    /* ----- FONT SIZE ----- */
    --small-fs: 0.875rem;
    --normal-fs: 1rem;
    --medium-fs: 1.25rem;
    --big-fs: 1.75rem;
    --xl-fs: 2.5rem;
    --special-fs: 7rem;
  }

  .slider,
  label,
  button,
  a {
    cursor: default !important;
  }

  /* CIRCLE LOGO */
  .circle-text-container {
    top: 0;
  }

  .circle-text-wrapper {
    width: 140px;
    height: 140px;
  }

  .circle-logo { 
    width: 85px;
    height: 85px;
  }

  .circle-text span {
    transform-origin: 0 70px;
  }
  /* CIRCLE END */

  .hero-name {
    line-height: 95px;
  }
}

@media (max-width: 500px) {
  :root {
    /* ----- FONT SIZE ----- */
    --small-fs: 0.875rem;
    --normal-fs: 1rem;
    --medium-fs: 1.25rem;
    --big-fs: 1.45rem;
    --xl-fs: 2.1rem;
    --special-fs: 4rem;
  }

  /*============== NAVBAR BREAKPOINT ===============*/
  nav {
    background-color: transparent;
  }

  .switch {
    margin: 0 20px 0 0;
  }

  .navbar-toggler {
    display: inline;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: relative;
    border: none !important;
  }

  .hamburger {
    cursor: pointer;
    position: absolute;
    right: -.5rem;
    top: -1px;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    height: 3.3em;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: var(--title-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .navbar-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .navbar-items.active {
    top: 0;
  }

  .navbar-items .shadow-text {
    display: block;
    position: absolute;
    margin-top: 5rem;
    font-family: var(--title-font-family);
    font-size: 25rem;
    color: var(--shadow-text);
    z-index: 1;
  }

  .navbar-link {
    z-index: 2;
    /* text-align: right; */
    position: relative;
    font-family: var(--title-font-family);
    font-size: var(--special-fs);
    display: block;
    margin: 20px 0;
  }

  .navbar-link-number {
    display: inline-block;
    font-size: var(--medium-fs);
    position: absolute;
    top: .5rem;
    left: -1rem;
  }

  .navbar-link-credit {
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 2rem;
    font-size: var(--normal-fs);
    color: var(--text-color);
  }

  .navbar-link-credit i {
    font-size: 12px;
  }
  /* ===================== NAV END ======================= */

  /* ==== HERO SECTION / CIRCLE LOGO === */
  #home {
    padding-top: 8rem;
  }

  .hero-name {
    line-height: 55px;
  }

  .hero-contact-dot {
    margin: 0 0.3rem 6px 0;
  }
  
  .hero-contact a {
    font-size: var(--medium-fs);
  }

  .circle-text-container {
    top: -10%;
  }

  .circle-text-wrapper {
    width: 120px;
    height: 120px;
  }

  .circle-text span {
    font-size: var(--small-fs);
    transform-origin: 0 60px;
  }
  /* === END === */

  .about-text {
    font-size: var(--medium-fs);
  }

  .footer-time,
  .footer-credit,
  .footer-contact-wrapper a {
    font-size: var(--normal-fs);
  }

  .footer-credit {
    justify-content: start;
  }
}
