@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
  font-family: 'Thunder BoldLC';
  src: url('Thunder-BoldLC.woff2') format('woff2');
}

:root {
  /* ----- COLORS ----- */
  --white: #fff;
  --body-color: #fff;
  --dark-light: #000000;
  --light-dark: #fff;
  --gray-color: rgb(129, 129, 129);
  --secondary-color: #ededed;
  --shadow-text: rgba(113, 113, 113, 0.4);

  /* ----- FONT----- */
  --text-font-family: 'Roboto';
  --special-font-family: 'Thunder BoldLC';
  --line-height: 1.8em;

  --small-fs: 1.10rem;
  --normal-fs: 1.35rem;
  --big-fs: 1.75rem;
  --xl-fs: 3rem;
  --large-fs: 6rem;
  --special-fs: 10rem;
}

.dark-theme {
  --body-color: #0a0a0a;
  --dark-light: #fff;
  --light-dark: #000000;
  --secondary-color: #121212;
  --shadow-text: rgba(163, 163, 163, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

html,
body {
  font-family: var(--text-font-family);
  font-weight: normal;
  background-color: var(--body-color);
}

section,
footer {
  background-color: var(--body-color);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 8rem 0;
}

.container {
  width: 90%;
  max-width: 1204px;
  padding: 1rem 0;
}

h1 {
  position: absolute;
  top: -9999px;
}

h2 {
  font-weight: normal;
  color: var(--dark-light);
}

span::selection,
p::selection,
h2::selection,
a::selection,
i::selection,
button::selection {
  color: var(--white);
  background-color: #ff0000;
}

hr {
  height: 1px;
  background-color: var(--dark-light);
  margin: 1rem 0;
  border: none;
}

li {
  list-style: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: var(--text-font-family) !important;
}

.circle-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  mix-blend-mode: difference;
  position: fixed;
  transition: .1s linear;
  z-index: 999999;
  pointer-events: none;
  transform: scale(1);
}

.circle-cursor.active {
  transform: scale(3);
}

.line-hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  /* left: 0;
  width: 0; */
  height: 1px;
  margin-top: auto;
  background-color: var(--dark-light);
  transition: transform 0.2s linear;
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.line-hover:hover::after {
  /* width: 100%; */
  transform: scaleX(1);
  transform-origin: left;
}

.arrow-wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--gray-color);
} 

.arrow-wrapper span {
  padding-right: 5px;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px; */
}

.navbar-email,
.stroke-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(100%);
  transition: transform .3s;
}

.title-section {
  font-family: var(--special-font-family);
  font-size: var(--large-fs);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* ======= LOADING SCREEN ======= */
.block {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--dark-light);
  z-index: 9999;
}

.loading-progress {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  color: var(--light-dark);
  font-size: 3.6rem;
  font-family: var(--special-font-family);
}

.block-left {
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.block-right {
  right: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.loading-text-wrapper {
  overflow: hidden;
  display: flex;
}

.loading-text-left,
.loading-text-right {
  opacity: 1;
  font-family: var(--special-font-family);
  font-size: 10rem;
  color: var(--light-dark);
}

.loading-text-left {
  transform: translateY(100%);
  margin-right: .5rem;
}

.loading-text-right {
  transform: translateY(-100%);
  margin-left: .5rem;
}
/* -------- LOADING END ---------- */

/* ========================== HEADER NAV =========================== */
/* ----------- DARK LIGHT MODE ------------ */
.navbar-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-right: 1.5rem;
  padding: 0;
}

.theme-toggle-button {
  font-size: var(--normal-fs);
  color: var(--white);
  mix-blend-mode: difference;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50px;
  padding: 3px 10px;
  outline: none;
}
/* --------- END ---------- */

nav {
  background-color: transparent;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /* transition: top 0.3s ease-in-out; */
}

/* nav.hidden {
  top: -100px;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 0;
  width: 90%;
  max-width: 1204px;
}

.nav-logo {
  font-family: var(--special-font-family);
  font-size: var(--xl-fs);
  letter-spacing: 1px;
  color: var(--white);
  margin-top: .5rem;
  mix-blend-mode: difference;
}

.navbar-items {
  background-color: var(--secondary-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: none;
  z-index: 99999;
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem; */
}

.navbar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 90%;
  max-width: 1204px;
}

.open-menu {
  position: relative;
  background-color: transparent;
  border: none;
  font-family: var(--special-font-family) !important;
  font-size: 3rem;
  color: var(--white);
  letter-spacing: 1px;
}

.close-menu {
  position: absolute;
  right: 0;
  top: 3%;
  border: none;
  font-size: var(--small-fs);
  color: var(--secondary-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--dark-light);
}

.navbar-link-wrapper {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  /* color: var(--white);
  mix-blend-mode: difference;
  font-size: var(--normal-fs); */
  padding: 0;

  text-transform: uppercase;
  color: var(--dark-light);
  font-family: var(--special-font-family);
  font-size: 8rem;
  transform: translateY(100%);
}

.navbar-link span {
  color: var(--dark-light);
  font-size: var(--normal-fs);
  font-family: var(--text-font-family);
  margin-right: 10px;
}

.navbar-email:hover,
.navbar-link.active {
  color: var(--gray-color);
}

.open-menu::after,
.navbar-link::after {
  background-color: var(--white) !important;
  mix-blend-mode: difference;
}

.navbar-email-wrapper {
  position: absolute;
  bottom: 3%;
  right: 0;
  display: flex;
  overflow: hidden;
  z-index: 9999;
}

.navbar-email {
  font-family: var(--special-font-family);
  font-size: 5rem;
  color: var(--dark-light);
  opacity: 0;
}

/* ========================== HERO SECTION =========================== */

#home {
  padding-bottom: 0 !important;
}

.container-hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-hero-circle {
  position: sticky;
  top: calc(50vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.image-small-container {
  position: relative;
  width: 90%;
  max-width: 1204px;
  padding: 20vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.image-small {
  width: 100%;
  display: flex;
}

.image-small img {
  width: 35%;
  transition: all .2s linear;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 22px 20px -20px;
}

.image-small-wrapper-1,
.image-small-wrapper-3,
.image-small-wrapper-6 {
  justify-content: start;
}
.image-small-wrapper-2,
.image-small-wrapper-4,
.image-small-wrapper-5 {
  justify-content: end;
}

/* CIRCLE LOGO */
.circle-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle-text-wrapper {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-logo { 
  position: absolute;
  width: 170px;
  height: 170px;
  background: url(../img/me.webp);
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 15s linear infinite;
}

.circle-text span {
  position: absolute;
  left: 50%;
  font-size: var(--small-fs);
  color: var(--dark-light);
  transform-origin: 0 120px;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* CIRCLE END */

.hero-name {
  overflow: hidden;
  width: 100%;
  display: flex;
  margin: .5rem 0;
}

.hero-img {
  opacity: 1;
  transform: translateY(103%);
  width: 100%;
}

body .dark-text,
body.dark-theme .light-text {
  display: block;
}
body .light-text,
body.dark-theme .dark-text {
  display: none;
}

.hero-subtitle {
  opacity: 1;
  transform: translateY(100%);
  font-size: var(--big-fs);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-subtitle-top {
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: start;
  text-align: start;
}

.hero-subtitle-bottom {
  overflow: hidden;
  display: flex;
  justify-content: end;
  text-align: end;
  margin-bottom: 5rem;
}

/* ========================== ABOUT SECTION =========================== */
.about-desc-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  margin: 1.5rem 0;
}

.about-subtitle {
  margin: 0 0 1.5rem 0;
  font-size: var(--normal-fs);
  color: var(--dark-light);
  line-height: var(--line-height);
}

.about-subtitle span {
  color: var(--gray-color);
  font-size: var(--small-fs);
}

.about-desc-wrapper p {
  color: var(--dark-light);
  font-size: var(--normal-fs);
  line-height: var(--line-height);
}

/* ======= ABOUT SLIDER ======== */
.about-slider-container {
  margin: 4rem 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.about-slider-wrapper {
  margin-bottom: 5px;
}

.about-slider-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-slider-image:hover .about-slide-text {
  mix-blend-mode: unset;
}

.about-slider-image img {
  width: 100%;
  height: 100%;
}

.about-slide-text {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: var(--small-fs);
  color: var(--white);
  mix-blend-mode: difference;
}

.new-swiper-pagination {
  text-align: end;
}

.swiper-pagination-fraction {
  color: var(--dark-light);
  font-size: var(--small-fs);
}

/* ======= ABOUT ACCORDION ======== */
.accordion {
  margin-top: 3rem;
}

.accordion-title {
  font-size: var(--xl-fs);
  font-weight: bold;
  color: var(--dark-light);
  margin-bottom: 3rem;
}

.accordion-year,
#aboutDate {
  font-size: var(--small-fs);
  letter-spacing: 1px;
}

.accordion-item {
  border-bottom: 1px solid var(--dark-light);
}

.accordion-item hr {
  margin: 0;
}

.accordion-header {
  color: var(--dark-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px 10px;
  cursor: pointer;
}

.accordion-company {
  font-size: var(--normal-fs);
  font-weight: bold;
}

.accordion-toggle {
  color: var(--dark-light);
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

.accordion-toggle i {
  padding: 5px;
  border: 1px solid var(--dark-light);
  border-radius: 50%;
  font-size: var(--big-fs);
  transition: 0.3s ease;
  transform: rotate(45deg);
}

.accordion-active .accordion-toggle i {
  transform: rotate(-45deg);
  background-color: var(--dark-light);
  color: var(--light-dark);
}

.accordion-content {
  color: var(--dark-light);
  font-weight: normal;
  padding: 0 10px;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 500ms, visibility 0ms 500ms; 
}

.accordion-active .accordion-content {
  max-height: 300px;
  visibility: visible;
  transition: max-height 500ms, visibility 0ms;
}

.accordion-desc-wrapper {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
  padding: 1rem 0;
  overflow: hidden;
}

.accordion-content .duration {
  font-size: var(--small-fs);
  color: var(--gray-color);
}

.accordion-content p {
  font-size: var(--normal-fs);
  line-height: var(--line-height);
}

/* ========= SKILLS/TOOLS SECTION ========= */
.skills-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}

.skills-box {
  display: flex;
  overflow: hidden;
}

.skills-number {
  font-size: var(--small-fs);
  font-weight: normal;
}

.skills-text {
  font-size: var(--xl-fs);
  color: var(--dark-light);
  font-weight: bold;
}
/* ========= SKILLS END ========= */

/* ========= PROJECT SECTION ========= */
.project-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 0;
  margin: 3rem 0;
  white-space: nowrap;
  overflow: auto;
}

.project-menu::-webkit-scrollbar {
  display: none !important;
}

.project-menu button {
  font-size: var(--small-fs);
  color: var(--dark-light);
  background-color: transparent;
  padding: 10px 15px;
  margin-right: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 100px;
}

.project-menu button.mixitup-control-active {
 color: var(--light-dark);
 background-color: var(--dark-light);
 border: 1px solid var(--dark-light);
}

.project-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
}

.project-box {
  border-bottom: 1px solid var(--shadow-text);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.project-image {
  width: 100%;
  filter: grayscale(100%);
  transition: .3s ease;
}

.project-image:hover {
  filter: none;
}

.project-body {
  padding: .3rem 0 0 0;
  font-size: var(--small-fs);
  color: var(--dark-light);
}

.project-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--small-fs);
  padding: 1rem 0;
}

.project-link {
  color: var(--gray-color);
}

.project-type a {
  position: relative;
  color: var(--dark-light);
  margin-left: 1rem;
}

.project-name {
  font-weight: bold;
}
/* ========= PROJECT END ========= */

/* ========= MODAL CREDITS/INFOS ========= */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--dark-light);
  z-index: 9999;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0 / 25% 25% 0 0;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.open-modal-button {
  position: relative;
  font-family: var(--special-font-family) !important;
  font-size: var(--xl-fs);
  color: var(--light-dark);
  border: 0;
  background-color: transparent;
  margin-bottom: 1rem;
}

button#openModalBtn.line-hover::after {
  background-color: var(--light-dark) !important;
}

.modal-info-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  max-width: 1204px;
  margin-top: 10px;
  overflow: hidden;
}

.close-modal-button {
  opacity: 0;
  border: 0;
  background-color: transparent;
  color: var(--gray-color);
  font-size: var(--normal-fs);
}

.close-modal-button:hover {
  color: var(--dark-light);
}

.modal-info-title {
  font-family: var(--special-font-family);
  font-size: var(--xl-fs);
  opacity: 0;
}

.modal .shadow-text {
  position: absolute;
}

.modal .shadow-text p {
  font-size: 25rem;
  letter-spacing: 15px;
  color: rgba(126, 126, 126, 0.3);
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2rem 2rem 0 0;
  width: 90%;
  max-width: 1204px;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}

.modal-content span {
  width: 100%;
  font-size: var(--normal-fs);
  margin-bottom: 4rem;
  line-height: var(--line-height);
  position: relative;
  z-index: 2;
  opacity: 0;
}

.modal-content span i {
  font-size: var(--normal-fs);
}

.modal-content span a {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--dark-light);
  text-decoration: none;
}

.line-hover-modal::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--dark-light);
  transition: width 0.2s ease-in-out;
}

.line-hover-modal:hover::after {
  width: 0;
}

/* ========================== FOOTER =========================== */
/* --------- FIXED BOTTOM LOGO ---------- */
.logo-fixed-botom {
  background-color: var(--dark-light);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: -9999;
}

.footer-credit {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--small-fs);
  color: var(--gray-color);
  margin: 0 0 1rem 0;
}

.fixed-img {
  width: 100%;
  /* 300px */
  max-height: 18.75rem; 
}

body.dark-theme .fixed-light-text,
body .fixed-dark-text {
  display: none;
}
body.dark-theme .fixed-dark-text,
body .fixed-light-text {
  display: block;
}

body, footer, #contact {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

footer {
  padding-top: 0 !important;
  margin-bottom: 500px;
}
/* --------- FIXED BOTTOM LOGO END ---------- */

#contact {
  padding-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer,
footer .container {
  position: relative;
  padding-bottom: 1rem;
}

.footer-call-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.footer-call-text {
  color: var(--dark-light); 
  font-family: var(--special-font-family);
  font-weight: bold;
  font-size: 8rem;
  text-transform: uppercase;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px; */
}

.footer-call-text:nth-child(1) {
  align-self: flex-start;
}
.footer-call-text:nth-child(2) {
  align-self: center;
}
.footer-call-text:nth-child(3) {
  align-self: flex-end;
}

.footer-image-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-image {
  position: relative;
  max-width: 250px;
  width: 100%;
}

.footer-image-block {
  position: absolute;
  top: -5px;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
}

.cta-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.cta-email .title-section {
  font-family: var(--text-font-family);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cta-email a {
  width: min-content;
  position: relative;
  font-size: var(--big-fs);
  color: var(--dark-light);
  display: flex;
  align-items: center;
}

.footer-contact {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
}

.footer-contact a {
  position: relative;
  font-size: var(--big-fs);
  color: var(--dark-light);
}

.footer-contact i {
  position: absolute;
  font-size: var(--small-fs);
  top: -5px;
}

.footer-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
  font-size: var(--small-fs);
  color: var(--dark-light);
}

/* SCROLL TOP BTN */
.scroll-top-btn {
  border: none;
  color: var(--dark-light);
  background-color: transparent;
}
/* END */

/* ========================== MEDIA QUERY =========================== */

@media (max-width: 768px) {
  :root {
    /* ----- FONT SIZE ----- */
    --small-fs: 1.10rem;
    --normal-fs: 1.25rem;
    --big-fs: 1.75rem;
    --xl-fs: 2.5rem;
    --large-fs: 4rem;
    --special-fs: 6rem;
  }

  .slider,
  div,
  span,
  button,
  a, i {
    cursor: default !important;
  }

  .circle-cursor {
    display: none;
  }

  .navbar-wrapper {
    gap: .5rem;
  }

  #home {
    padding-top: 0;
  }

  .project-menu {
    justify-content: start;
  }

  .project-wrapper {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(13rem, 40%), 1fr));
  }

  .project-type {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
  }

  .project-type a {
    margin: 0 .3rem 0 0;
  }

  .footer-call-text {
    font-size: 5rem;
  }

  .cta-email .title-section {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  :root {
    /* ----- FONT SIZE ----- */
    --small-fs: 0.875rem;
    --normal-fs: 1rem;
    --big-fs: 1.15rem;
    --xl-fs: 1.6rem;
    --large-fs: 3.5rem;
    --special-fs: 3rem;
  }

  .loading-text-left,
  .loading-text-right {
    font-size: 6rem;
  }

  /*============== NAVBAR BREAKPOINT ===============*/
  nav {
    padding: 10px 0;
  }

  .navbar-btn-wrapper {
    justify-content: start;
  }

  .nav-logo {
    display: none;
  }

  .theme-toggle-button {
    font-size: var(--small-fs);
  }

  .open-menu {
    font-size: 2rem;
  }

  .navbar-link {
    font-size: 5.5rem;
  }

  .navbar-email {
    font-size: var(--special-fs);
  }
  /* ===================== NAV END ======================= */

  /* ==== HERO SECTION === */
  .image-small img {
    width: 40%;
  }

  .circle-text-wrapper {
    width: 180px;
    height: 180px;
  }
  
  .circle-logo {
    width: 130px;
    height: 130px;
  }
  
  .circle-text span {
    transform-origin: 0 90px;
  }

  .hero-subtitle {
    font-size: var(--normal-fs);
  }
  /* === END === */
  
  /* --- MODAL INFO --- */
  .modal-content {
    padding: 1rem 7px 0 0;
  }

  .modal .shadow-text p {
    font-size: 12rem;
  }
  /* --- END --- */

  footer {
    margin-bottom: 270px;
  }

  .footer-image {
    max-width: 220px;
  }
}
